In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")
df['rank'] = 0
sorted_df = df.sort_values(by=['date','profit'], ascending=[True,False])
sorted_df

,symbol,date,profit,win_trades,loss_trades,changed_settings,rank
0,mes,2025-09-19,10.0,20,40,{'neighbors_count': 4},0
1,mes,2025-09-19,8.5,19,40,{'neighbors_count': 5},0
4,mes,2025-09-19,6.5,18,41,{},0
12,mes,2025-09-19,6.5,18,41,{'neighbors_count': 16},0
5,mes,2025-09-19,6.0,18,42,{'neighbors_count': 9},0
...,...,...,...,...,...,...,...
460,mes,2025-11-07,1.5,21,60,{'neighbors_count': 9},0
463,mes,2025-11-07,1.5,20,57,{'neighbors_count': 12},0
455,mes,2025-11-07,1.0,21,61,{'neighbors_count': 4},0
456,mes,2025-11-07,1.0,21,61,{'neighbors_count': 5},0
462,mes,2025-11-07,1.0,20,58,{'neighbors_count': 11},0

In [11]:
for date in sorted_df.date.unique():
    rank = 10
    for index, _ in sorted_df[sorted_df['date'] == date].iterrows():
        sorted_df.loc[index, 'rank'] = rank
        rank -= 1

In [16]:
import operator
agg_ranks = []
for setting in sorted_df.changed_settings.unique():
    grouped_setting = sorted_df[sorted_df['changed_settings'] == setting]
    agg_rank = 0
    for _, row in grouped_setting.iterrows():
        agg_rank += row['rank']
    agg_ranks.append([setting, agg_rank])

sorted_agg_ranks = sorted(agg_ranks, key=operator.itemgetter(1), reverse=True)
sorted_agg_ranks

[["{'neighbors_count': 6}", 173],
 ["{'neighbors_count': 10}", 165],
 ['{}', 164],
 ["{'neighbors_count': 7}", 157],
 ["{'neighbors_count': 14}", 156],
 ["{'neighbors_count': 4}", 148],
 ["{'neighbors_count': 11}", 142],
 ["{'neighbors_count': 9}", 138],
 ["{'neighbors_count': 12}", 133],
 ["{'neighbors_count': 5}", 129],
 ["{'neighbors_count': 15}", 125],
 ["{'neighbors_count': 13}", 124],
 ["{'neighbors_count': 16}", 118]]